body {
    background-color: #f5f5f5;
    color: #757575;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}
/*
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #757575;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Consolas","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

button:hover {
    background-color: rgba(158,158,158,.2);
}

button:active {
    background-color: rgba(158,158,158,.4);
}

button.icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    line-height: normal;
}

button .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
    vertical-align: middle;
}

input {
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #757575;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid lightgray;
    outline: none;
}


header {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: white;
    background-color: #99b8d2;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    display: inline-block;
    color: #323330;
    margin: 1rem auto;
}
 */
/* main block */
main {
    background: #fff;
    margin-top: 130px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 2px;
    max-width: 550px;
    /*overflow: hidden;*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

/* header */

h1 {
    top: -195px;    
    width: 100%;
    font-size: 100px;
    position: absolute;
    font-weight: 100;
    text-align: center;
    line-height: 1.4em;
    color: rgba(175, 47, 47, 0.15);
    text-rendering: optimizeLegibility;
}



/* Todo Item --------------------------------------------*/
.todo-item {
    display: flex;
    font-size: 24px;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    transition: all .2s;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
}

.todo-item.completed * {
    color: lightgray;
}

.todo-item {
    margin-right: .5rem;
}

.todo-item .toggle {
    position: absolute;
    opacity: 0;
    margin: 20px;
}

.todo-item .toggle + label {
	/*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
    */
    
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
    background-position: center left;
    
}

.todo-item .toggle:checked + label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.todo-item label {
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

.todo-item .title,
.todo-item .textfield {
    margin-right: auto;
}

.todo-item.completed .title {
    text-decoration: line-through;
}

.todo-item.editing .title {
    display: none;
}

.todo-item .textfield {
    display: none;
}

.todo-item.editing .textfield {
    display: block;
}

.todo-item:hover button:not(.toggle) {
    opacity: 1;
}

.close {
    cursor: pointer;
    align-self: flex-end;
    padding: 10px 10px 10px 10px;
    font-size: 36px;
  }

  .close:hover {
      color: #bd5653;
    }
/* Todo list ---------------------------------*/

#todo-list {
    margin: 0px;
    padding: 0px;
}

/* Todo form ---------------------------------*/

#todo-form {
    width: 100%;
    background-color: #FAFAFA;
    border-top: 1px solid rgba(0,0,0,.1);  
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);  
    overflow: hidden;
}

#todo-form input {
    background-color: #fff;
    padding: 16px 16px 16px 60px;
    width: 100%;
    font-size: 24px;
    line-height: 1.4em;    
    border: none;
    position: relative;
    box-sizing: border-box;
}

#todo-form input::placeholder {
    font-style: italic;
    font-weight: 300;
    color:#e6e6e6;
}

/* footer -----------------------------*/

.footer {
    color:#777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid
}

.footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.footer .todo-count {
    float: left;
}

.filters {
    position: relative;
    margin: auto;
    list-style: none;
    z-index: 1;
}   

.filters li {
    display: inline;
}

.filters li a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid;
    border-color: transparent;
    border-radius: 3px;
}

.filters li a:hover {
    border-color: rgba(175, 47, 47, 0.2);
}

.filters li a.selected {
    border-color: 
    rgba(175, 47, 47, 0.2);
}


/* Aside   */

.nav {
	position: absolute;
	width: 20%;
	top: 10px;
	left: 10px;
	background-color: rgba(255, 255, 255, .6);
    border-radius: 5px;
    padding: 10px;
}
.nav h3 {
    text-align: center;
    font-size: 2em;
}

#nav-pills {
	display: flex;
	flex-direction: column;
}

#nav-pills a {
	text-align: center;
	display: block;
}

#nav-pills > div {
	width: 80%;
	margin: auto;
	padding: 10px;
    background-color: rgba(175, 47, 47, 0.3);
    border-radius: 5px;
    margin-bottom: 5px;
}

#nav-pills > div:hover {
	background-color: rgba(175, 47, 47, 0.15);
}

#nav-pills .active {

    border: 2px solid rgba(175, 47, 47, 0.5);
    border-radius: 5px;
    background-color: unset;
}
