[id^=c]{
  display: none;
}
[id^=c] + label{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid green;
  text-align: center;   
  position: relative;
}
[id^=c] + label:before{
  content: '';    
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: green;
  clip-path: polygon(45% 64%, 84% 14%, 100% 28%, 47% 100%, 0 49%, 15% 32%);  
  transform: scale(0);
  transition: transform .3s;
}
[id^=c]:checked + label:before{      
  transform: scale(1);
}